name: Markdown linter

on:
  pull_request:
    branches:
      - main
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: DavidAnson/markdownlint-cli2-action@v15
      continue-on-error: true
      with:
        globs: |
          docs/wiki/*.md
